<!DOCTYPE html> {% load static %}
<html>

<head>
    <title>MTV INDEX</title>
    <link rel="stylesheet" href="{% static 'css/temp.css' %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a class="navbar-brand" href="firstApp/">FirstApp</a></li>
                <li><a class="navbar-brand" href="firstApp/image">Image</a></li>
                <li><a class="navbar-brand" href="firstApp/template">Template</a></li>
                <li><a class="navbar-brand" href="formPage/">Form</a></li>
                <li><a class="navbar-brand" href="topicAdd/">Topic Add</a></li>
                <li><a class="navbar-brand" href="userapp/">User App</a></li>


                <li><a class="navbar-brand" href="admin/">Admin</a></li>
            </ul>
        </div>
    </nav>
    <h1>This is the index page</h1>
    <h2>Here is the access record table : </h2>

    <div class="container" id="AccessRecords">
        {% if access_record %}
        <table>
            <th>Name</th>
            <th>Date</th>
            {% for i in access_record %}
            <tr>
                <td>{{i.name}}</td>
                <td>{{i.date}}</td>
            </tr>
            {% endfor%}
        </table>

        {% else %}

        <h3>NO DATA FOUND</h3>

        {% endif %}
    </div>
    <br><br>
    <h2>Here are the topic names :</h2>
    <div class="container" id="TopicInfo">
        {% if topicInfo %}
        <table>
            <th>Topic</th>
            {% for i in topicInfo %}
            <tr>
                <td>{{i.top_name}}</td>
            </tr>
            {% endfor%}
        </table>

        {% else %}

        <h3>NO DATA FOUND</h3>

        {% endif %}
        <br><br>

</body>

</html>